.search-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-button{
    z-index: 1;
    font-size: 2rem;
    margin-top: 4rem;
    color: white;
    background: radial-gradient(#1c3372,#294185);
    border-radius: 2rem;
    border: 0;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    outline: none;
    position: fixed;
}

.add-button{
    z-index: 1;
    font-size: 2rem;
    margin-top: 4rem;
    color: white;
    background: radial-gradient(#1c3372,#294185);
    border-radius: 2rem;
    border: 0;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    outline: none;
}

.search-icon{
    font-size: large;
}

.search-button:hover{
    background: radial-gradient(#253f86,#294185);
}

.add-button:hover{
    background: radial-gradient(#253f86,#294185);
}

.info-window-container{
    background: grey;
}

.info-window{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1.7rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.details-button{
    font-size: 1rem;
    color: white;
    background: radial-gradient(#1c3372,#294185);
    border-radius: 2rem;
    border: 0;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    outline: none;
    margin-top: 0.5rem;
}

.details-button:hover{
    background: radial-gradient(#253f86,#294185);
}

.addInfoWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.7rem;
    direction: rtl;
    font-size: 1.8rem;
    font-weight: 700;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.add-buttons{
    font-size: 1.5rem;
    color: white;
    background: radial-gradient(#1c3372,#294185);
    border-radius: 0.4rem;
    border: 0;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    outline: none;
}

.buttons:hover{
    background: radial-gradient(#253f86,#294185);
}


@media (max-width: 768px) {
    .search-button {
        font-size: 1.3rem;

    }

}