.dialogContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.description{
    font-size: 1rem;
    direction: rtl;
}

.slider{
    width: 20vw;
    height: 70vh;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.exitButton{
    position: fixed;
    background: transparent;
    width: 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.buttons{
    font-size: 2.5vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    padding: 1vh 1vh 1vh 1vh;
    margin: auto;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #2ecc71;
    box-shadow: 0 5px 1px #27ae60;
}

.buttons:hover , .buttons:active{
    background: #27ae60;
    box-shadow: 0 5px 1px #145b32;
}

@media (min-width:300px) and (max-width: 400px){
    .slider{
        height: 40vh;
        width: 70vw;
    }
}

@media (min-width:400px) and (max-width: 600px){
    .slider{
        height: 50vh;
        width: 70vw;
    }
}

@media (min-width:600px) and (max-width: 768px){
    .slider{
        width: 80vw;
        height: 60vh;
    }
    
}
@media (min-width:768px) and (max-width: 1057px){
    .slider{
        width: 70vw;
        height: 80vh;
    }
    
}

@media (min-width: 1057px){
    .slider{
        width: 45vw;
    }
}