.search-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dialogContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.select-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonSearch{
    background: transparent;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border-radius: 3rem;
    border: none;
    outline: none;
}

.exitButton{
    background: transparent;
    width: 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.buttonContainer{
    padding-top: 2rem;
}

.buttonSearch:hover{
    background: #d5d6cf;
    border: none;
}

.exitButton:hover{
    background: #d5d6cf;
    border: none;
}


.exit-button{
    background-color: #bbb;
	width: 6vh;
	height: 6vh;
	border-radius: 50%;
	color: #000;
	float: right;
	font-weight: bold;
	font-size: 5vh;
	cursor: pointer;
    color: red;
	transform: rotate(135deg);
    position: relative;
    z-index: 100;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-left: 1vh;
    margin-top: 1vh;
	transition: all .1s ease-in-out
}
.exit-button:hover, .exit-button:active{
    background-color: #F00;
	color: #FFF
}

.search-button{
    background: #27AE60;
	color: white;
    border: 0 none;
    font-size: 3vh;
	border-radius: 1px;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	padding: 10px 5px;
	margin: 10px 5px;
}

.search-button:hover, .search-button:active {
    background: #27AE60;
	box-shadow: 0 0 0 2px #dcddd4, 0 0 0 3px #27AE60;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
