.side-drawer {
    height: 100%;
    background: #41586e;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer-top {
    top: 0;
    left: 0;
    height: 56px;
    background: #41586e;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.side-drawer.open {
    transform: translateX(0);
}

.sidebar-close-icon {
    font-size: 6vh;
    margin-left: 2.5vw;
    margin-top: 1vh;
    background: none;
    color: white;
    position: fixed;
}


.side-drawer ul{
    height: 70%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    direction: rtl;
    text-align: center;

}

.side-drawer li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-right: none;
    border-width: 1px;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin-top: -1px;
}

.side-drawer a{
    color: white;
    text-decoration: none;
    font-size: 4vh;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.side-drawer li:active, .side-drawer li:hover {
    background: #2e3e4e;
}

.side-drawer a:active, .side-drawer a:hover  {
    color: rgb(233, 179, 33);
    border-left: 6px solid orange;   
}


.sidebar-close-icon :active{
    color: rgb(233, 179, 33);
}
