.side-drawer {
    height: 100%;
    background: radial-gradient(#411161,#3c0e5a);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer-top {
    top: 0;
    left: 0;
    height: 56px;
    background: radial-gradient(#3a0f57,#360d52);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.side-drawer.open {
    transform: translateX(0);
}

.sidebar-close-icon {
    font-size: 6vh;
    margin-left: 1vw;
    background: none;
    color: white;
    position: fixed;
}


.side-drawer ul{
    height: 35%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    direction: rtl;
    text-align: center;
}

.side-drawer li {
    margin-top: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.side-drawer a{
    color: white;
    text-decoration: none;
    font-size: 4vh;
    border-radius: 10px;
    width: 95%;
    height: 100%;
}

.side-drawer a:hover,
.side-drawer a:active {
    background-color: #223166;
    color: #86771d;
}

.sidebar-close-icon :active{
    color: rgb(233, 179, 33);
}
