
.dialogContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.list{
    font-size: 1.2rem;
    direction: rtl;
}

.agreeButton{
    font-size: 2.5vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    padding: 1vh 1vh 1vh 1vh;
    margin: auto;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #2ecc71;
    box-shadow: 0 5px 1px #27ae60;
}

.agreeButton:hover , .agreeButton:active{
    background: #27ae60;
    box-shadow: 0 5px 1px #145b32;
}