.toolbar {
    position: fixed;
    display: flex;
    width: 100%;
    background: #25313e;
    top: 0;
    left: 0;
    height: 56px;
    z-index: 201;
    box-shadow: 0px 10px 15px 3px rgba(0,0,0,0.1);
}
.toolbar-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.toolbar-logo {
    margin-left: 1rem;
    top: 0;
    font-size: 5vh;
    color: white;
}

.logo{
    height: 12rem;
}


.toggle-button {
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 32px;
    background: transparent;
    border: none;

}

.toggle-button:focus {
    outline: none;
}

.menu-bar:active{
    color: #f0a721;
}


.menu-bar {
    font-size: 2rem;
    margin-left: 0;
    background: none;
    color: white;
}
.toolbar-navigation-items ul{
    list-style: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    direction: rtl;
}

.toolbar-navigation-items li {
    padding: 0 0.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
}

.toolbar-navigation-items a{
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
    color: #f0a721;
    border-radius: 0.5rem;
    font-size: 1.9rem;
}

.spacer {
    flex: 1;
    width: 60%;
}


.hamburger .line{
    width: 40px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .hamburger:hover{
    cursor: pointer;
  }

  .hamburger.is-active{
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .hamburger.is-active .line:nth-child(2){
    width: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .hamburger.is-active .line:nth-child(1),
  .hamburger.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  


@media (max-width: 768px) {
    .toolbar-navigation-items {
        display: none;
    }

}

@media (min-width: 769px) {
    .menu-bar {
        display: none;
    }
    .toolbar-logo {
        margin-left: 0;
    }
    .hamburger .line{
        display: none;
    }
}